<ng-container *ngIf="friendData != undefined else noFriendSelected">
    <div class="row h-100 text-dark">
        <div class="action-bar col-12 d-flex align-items-center">
            <div class="d-flex col-4">
                <div class="friend-picture">
                    <img src="../../../assets/icons/avatarIcon2.png">
                </div>
                <div class="friend-info d-flex align-items-center">
                    <p>{{friendData.name}}</p>
                </div>
            </div>
    
            <div class="actions col-8 d-flex justify-content-end">
                <app-action-button (click)="onLogout()" [iconSrc]="'../../../assets/icons/logoutIcon.png'" [titleMessage]="'Logout'"></app-action-button>
            </div>
        </div>
    
        <div class="chat-box-wrapper">
            <div class="chat-box col-12 d-flex flex-column justify-content-end">
                <app-message-bubble *ngFor="let message of testMessages" [message]="message"></app-message-bubble>
            </div>
        </div>
    
        <div class="message-box col-12">
            <app-input-bar [iconSrc]="'../../../assets/icons/sendIcon.png'" [placeholder]="'Enter text here...'"></app-input-bar>
        </div>
    </div>
</ng-container>
<ng-template #noFriendSelected>
    <div class="row h-100 text-dark">
        <div class="no-friend">

        </div>
    </div>
</ng-template>