<div class="row d-flex flex-column justify-content-center align-items-center">
    <div class="auth-form-header">
        <h1 class="text-center">Enter your email</h1>
    </div>

    <form [formGroup]="passwordRecoveryForm" (submit)="onPasswordRecovery()" class="auth-form d-flex flex-column justify-content-center align-items-center">
        <input type="email" formControlName="email" name="email-field" placeholder="Related email">

        <button type="submit" class="btn auth-button">Remind password</button>
    </form>
</div>