<div class="row d-flex flex-column justify-content-center align-items-center">
    <div class="auth-form-header">
        <h1 class="text-center">Create a new password</h1>
    </div>
    

    <form [formGroup]="passwordCreateForm" (submit)="onPasswordCreate()" class="auth-form d-flex flex-column justify-content-center align-items-center">
        <input type="password" formControlName="password" name="email-field" placeholder="New password">
        <input type="password" formControlName="password_confirmation" name="password-field" placeholder="Repeat new password">

        <button type="submit" class="btn auth-button">Change password</button>
    </form>
</div>