<div class="row h-100">
    
    <div class="user-type-switch d-flex justify-content-center align-items-end">
        <button class="user-type-all-btn" (click)="changeUserListType('all')" [ngClass]="{'selected-option': listAll}">Wszyscy</button>
        <button class="user-type-friends" (click)="changeUserListType('friends')" [ngClass]="{'selected-option': listFriends}">Znajomi</button>
    </div>

    <div class="search-friends">
        <app-input-bar [iconSrc]="'../../../assets/icons/searchIcon.png'" [placeholder]="'Search...'" (onInput)="onUserTermInput($event)"></app-input-bar>
    </div>

    <div class="friends-list d-flex flex-column justify-content-start align-items-center">
        <app-friend-box class="col-12" *ngFor="let user of userList" [username]="user.name" [status]="user.status"
        (click)="onFriendSelected(user)"></app-friend-box>
    </div>
</div>