<div class="row h-100">
    <!-- <div class="col-1 space-filler"></div> -->

    <div class="col-5 text-dark auth-area d-flex flex-column justify-content-center align-items-center">
        <div class="beta-info align-self-start">
            <p>Beta</p>
        </div>

        <div class="auth-container w-100 d-flex flex-column justify-content-center align-items-center">
            <h1 *ngIf="isMainVisible">Get started</h1>

            <div *ngIf="isMainVisible" class="col-12 w-100 get-started-buttons d-flex justify-content-center">
                <button class="col-6 btn btn-primary auth-button" (click)="switchMode('login')">
                    Log in
                </button>
    
                <button class="col-6 btn btn-primary auth-button" (click)="switchMode('register')">
                    Sign up
                </button>
            </div>

            <app-login *ngIf="isLoginVisible" (switchViewControl)="switchMode($event)" class="col-12"></app-login>
            <app-register *ngIf="isRegisterVisible" (switchViewControl)="switchMode($event)" class="col-12"></app-register>
            <app-password-recovery *ngIf="isPasswordRecoveryVisible" (switchViewControl)="switchMode($event)" class="col-12"></app-password-recovery>
            <app-password-create *ngIf="isPasswordCreateVisible" [passwordToken]="passwordToken" (switchViewControl)="switchMode($event)" class="col-12"></app-password-create>
            

            <div class="return-btn" *ngIf="isReturnBtnVisible">
                <img src="../../../assets/icons/returnIconBlack.png" (click)="switchMode('')">
            </div>
        </div>

        <div class="copyright-info w-100 d-flex justify-content-between">
            <div class="app-version">
                v0.0.0
            </div>
            <div class="copy-content">
                &copy; 2023 Aleks Regulski
            </div>
        </div>
    </div>

    <div class="col-7 text-white description-area d-flex flex-column justify-content-center">
        <div class="app-name align-self-end">
            <p>tChat</p>
        </div>

        <div class="description-container d-flex flex-column justify-content-center align-items-center">
            <div class="icon-container d-flex align-items-center">
                <img src="../../../assets/icons/secureIcon.png">
                <p>Secure</p>
            </div>
            <div class="icon-container d-flex align-items-center">
                <img src="../../../assets/icons/innovativeIcon.png">
                <p>Innovative</p>
            </div>
            <div class="icon-container d-flex align-items-center">
                <img src="../../../assets/icons/fastIcon.png">
                <p>Fast</p>
            </div>
        </div>
    </div>
</div>