@import './theme.scss';

html, body { 
    height: 100%; 
    // background-color: var(--secondary-color);
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    // background-color: var(--secondary-color);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1010%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(6%2c 90%2c 216%2c 1)'%3e%3c/rect%3e%3cpath d='M861.24 1216.61C1017 1140.2 863.31 706.28 1237.82 633.72 1612.32 561.16 1773.14 206.92 1990.97 190.92' stroke='rgba(25%2c 99%2c 210%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M504.89 1195.45C755.3 1050.78 724.74 239.86 1083.06 193.53 1441.39 147.2 1372.15 328.53 1661.24 328.53 1950.32 328.53 2090.98 194.42 2239.41 193.53' stroke='rgba(25%2c 99%2c 210%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M300.92 1180.54C586.41 1111.81 700.96 346.9 1125.44 343.96 1549.92 341.02 1717.6 763.14 1949.96 775.96' stroke='rgba(25%2c 99%2c 210%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M267.05 1205.8C544.45 1161.09 688.93 490.13 1131.76 487.84 1574.59 485.55 1764.73 816.86 1996.47 822.64' stroke='rgba(25%2c 99%2c 210%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1170.23 1279.46C1409.23 1103.4 1384.96 233.71 1685.62 209.74 1986.27 185.77 2033.62 623.56 2201 652.54' stroke='rgba(25%2c 99%2c 210%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1010'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    
}

@font-face {
    font-family: 'mainFont';
    src: url('./assets/fonts/Inter-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'mainFont';
    src: url('./assets/fonts/Inter-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'mainFont';
    src: url('./assets/fonts/Inter-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'mainFont';
    src: url('./assets/fonts/Inter-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'mainFont';
    src: url('./assets/fonts/Inter-Bold.ttf');
    font-weight: 700;
}

* {
    font-family: 'mainFont' !important;
}
